# Flutter/Dart build artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Pods/

# IDE
.idea/
*.iml
